body {overflow-x:hidden;}
input[type='text'] {
  font-size:14px;
  padding:4px;
}
a {color:#ff5400;}

#summary{
	width: 100%;
	float: left;
	border-bottom: 3px solid #444444;
	padding:10px;
	background-color:#fff;
}

.other_info{
	float: left;
    padding-top: 3px;
	padding-bottom: 5px;
    width: 200px;
}

.phone{
	float: left;
	font-size: 15px;
	color: #6E6965;	
	padding: 7px 0;
}
h2.creep_name{
	font-size: 30px;
    font-weight: bold;
}
.creep_details{
	float: left;
	width: 200px;
	margin-left: 10px;
}
.creep_pic{
	float: left;
	width: 200px;
	padding: 4px 11px 0 0;
}
.creep_pic img{
	border: 1px solid #aaa;
}

#main_logo{
	text-align: center;
	background-color: #ff5400;
	height: 130px;
}

#whole_page {
  	width: 100%;
	margin: auto;
	position: relative;
}
#content{
}
#header{
	background-color: #ff5400;
	height: 40px;
	padding-top:10px;
	width: 100%;
}
#footer {
	border-top: 1px solid #ddd;
	clear: both;
	color: #787878;
	height: 20px;
	padding: 5px;
	font-size: 13px;
	text-align: center;
}
body{
	font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman","TeXGyreHerosRegular","Helvetica","Tahoma","Geneva","Arial",sans-serif;
}