.chat-bubble{
	
	font-size:14px;
	
	line-height:1.3em;
	margin-top:6px;
	margin-bottom: 6px;
	margin-left: 10px;
	padding:6px;
	position:relative;
	text-align:center;
	
	/*width:150px;*/
	display: inline-block;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
        border-radius: 10px;
}

.green-bubble {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(90,150,40)), color-stop(0.28, rgb(160,215,60)), color-stop(1, rgb(165,255,69)));
	background:-moz-linear-gradient(center top, rgb(90,150,40) 0%, rgb(160,215,60) 28%, rgb(165,255,69) 100%);
    
	border:1px solid #38691a;
	-webkit-box-shadow: rgba(160, 215, 60, 0.7) 2px 4px 5px;
	-moz-box-shadow: rgba(160, 215, 60, 0.7) 2px 4px 5px; /* FF 3.5+ */
        box-shadow: rgba(160, 215, 60, 0.7) 2px 4px 5px;
}

.gray-bubble {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(142,147,138)), color-stop(0.28, rgb(216,219,210)), color-stop(1, rgb(244,255,233)));
	background:-moz-linear-gradient(center top, rgb(137,146,130) 0%, rgb(206,213,194) 28%, rgb(247,255,238) 100%);
	
	border:1px solid #5c605a;
	-webkit-box-shadow: rgba(211, 216, 202, 0.7) 2px 4px 5px;
	-moz-box-shadow: rgba(211, 216, 202, 0.7) 2px 4px 5px; /* FF 3.5+ */
        box-shadow: rgba(211, 216, 202, 0.7) 2px 4px 5px;
    
}

.chat-bubble-glare {
	position: absolute;
	top: 0px;
	left: 4px;
	height: 4px;
	
	width: 98%;
	
	/*display: inline-block;*/
	color: rgba(255, 255, 255, 0);
		
	padding: 6px 0;
        -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
        border-radius: 10px;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
	background: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
}

.chat-bubble-arrow-green {
	border-color: transparent #a5ff45 transparent transparent;
	border-style: solid;
	border-width: 6px;
        height:0;
	width:0;
	position:absolute;
	bottom:-1px;
	left:-3px;
	-webkit-transform: rotate(70deg);
	-moz-transform: rotate(70deg);
        transform: rotate(70deg);
}

.chat-bubble-arrow-border-green {
	border-color: transparent #38691a transparent transparent;
	border-style: solid;
	border-width: 6px;
	height:0;
	width:0;
	position:absolute;
	bottom:-3px;
	left:-5px;
	-webkit-transform: rotate(70deg);
	-moz-transform: rotate(70deg);
}

.chat-bubble-arrow-gray {
	border-color: transparent #f6ffed transparent transparent;
	border-style: solid;
	border-width: 6px;
    height:0;
	width:0;
	position:absolute;
	bottom:-1px;
	right:-2px;
	-webkit-transform: rotate(110deg);
	-moz-transform: rotate(110deg);
        transform: rotate(110deg);
}

.chat-bubble-arrow-border-gray {
	border-color: transparent #5e635b transparent transparent;
	border-style: solid;
	border-width: 6px;
	height:0;
	width:0;
	position:absolute;
	bottom:-3px;
	right:-4px;
	-webkit-transform: rotate(110deg);
	-moz-transform: rotate(110deg);
}

#chat div.right p.aqua {
	/*-webkit-border-image: url(../images/chat_bubbles_aqua_r.png) 10 19 13 10;*/
	background-color: #eee;
}
	
#chat div.right p.lemon {
	/*-webkit-border-image: url(../images/chat_bubbles_lemon_r.png) 10 19 13 10;*/
}
	
#chat div.right p.lime {
	/*-webkit-border-image: url(../images/chat_bubbles_lime_r.png) 10 19 13 10;*/
	background-color: #aaa;
}
	
#chat div.bubble p {
	color: #000;
	font-size: 16px;
	margin: 0;
}
#chat div.bubble a {
  color:#000;
  text-decoration:underline;
}
#chat div.right p {
	border-width: 10px 20px 12px 10px;
}

#chat div.left p {
	border-width: 10px 10px 12px 20px;
}

#chat {
	background: #f3e8c0;/*#DBE1ED;*/
	clear: both;
}
	
#chat div.bubble {
	margin: 10px 10px 0 0px;
	width: 80%;
	clear: both;
}

#chat div.right {
	float: right;
}
	
#chat div.left {
	float: left;
}	

#chat div.chat_form{
	margin: 5px auto;
	clear: both;
}
#chat {
	padding-top: 5px;
	width: 100%;
	float: left;
	font-family: Helvetica;
}