{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  friend_suggest_init();
})

function friend_suggest_init() {
  $("#friend").keyup(function() {
    var params = {
      friend: $("#friend").val(),
      group_id: {{ group.id }}
    }
    $("#results").empty();
    
    if (params.friend) search_users(params);
    email_invite(params.friend)
  })
}
function search_users(params) {
  $.post("/users/search", params, function(data) {
    var users = $.parseJSON(data);
    show_suggestions(users);
  })
}
function show_suggestions(users) {
  _.each(users, function(user) {
    var li = $("<li>");
    var div = $("<div>").addClass("user").html(user.name);
    var add;
    if (!user.in_group) add = $("<a>").addClass("small blue awesome").attr("id","user-" + user.id).html("Add to group");
    else add = "Added";
    li.append(div,add);
    $("#results").append(li);
    
    add.click(function() {
      var user_id = $(this).attr("id").substring(5);
      add_friend(user_id, $(this));
    })
  })
}
function add_friend(user_id, add) {
  $.post("/groups/add-user", { group_id: {{ group.id }}, user_id: user_id }, function(data) {
    add.replaceWith("Added");
  })
}
function email_invite(email) {
  if (email.match(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/)) {
    var li = $("<li>");
    var div = $("<div>").addClass("email").html(email);
    var add = $("<a>").addClass("small red awesome").html("Invite by email");
    li.append(div,add);
    $("#results").append(li);
    
    add.click(function() {
      add_email(email, add);
    })
  }
}
function add_email(email, add) {
  $.post("/groups/add-email", { group_id: {{ group.id }}, invited_by_id: {{ user.id }}, email: email }, function(data) {
    add.replaceWith("Invite sent");
  })
}
</script>

<div id="content">
  
  {% if not group %}
  group does not exist
  {% else %}
  
  <h2>Add Friends by Name or Email</h2>
  <h5>Group: {{ group.name }}</h5>
  
  <input type="text" name="friend" id="friend" />
  
  <ul id="results"></ul>
  
  {% endif %}
	
</div>

{% endblock %}