{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  friend_suggest_init();
})

function friend_suggest_init() {
  $("#find_friends").submit(find_friends);
  $("#search-friends").click(find_friends);
}
function find_friends() {
  var params = {
    friend: $("#friend").val(),
    group_id: {{ group.id }}
  }
  $("#results").empty();
  
  if (params.friend) search_users(params);
  
  return false;
}
function search_users(params) {
  $.post("/users/search", params, function(data) {
    var users = $.parseJSON(data);
    show_suggestions(users);
    if (users.length == 0) email_invite(params.friend);
  })
}
function show_suggestions(users) {
  _.each(users, function(user) {
    
    var summary = $('<div class="summary"><div class="profile_pic"><img src="' + user.photo + '" width="120"></div><div class="details"><p class="name">' + user.name + '</p><p class="info">' + user.email + '</p></div></div>');
  	
    var add = $("<p>").addClass("invite").attr("id","user-" + user.id).html("Add to group");
    summary.find(".details").append(add);
    
    $("#results").append(summary);
    
    if (user.in_group) {
      add.html("Added");
      add.css("cursor","default")
      add.css("color","green")
    } else {
      add.click(function() {
        var user_id = $(this).attr("id").substring(5);
        add_friend(user_id, $(this));
      })
    }
  })
}
function add_friend(user_id, add) {
  $.post("/groups/add-user", { group_id: {{ group.id }}, user_id: user_id }, function(data) {
    add.html("Added");
  })
}
function email_invite(email) {
  if (email.match(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/)) {
    var summary = $('<div class="summary"><div class="profile_pic"><img src="/static/images/users/email.jpg" width="120"></div><div class="details"><p class="name">' + email + '</p></div></div>');
  	
    var add = $("<p>").addClass("invite").html("Invite by email");
    summary.find(".details").append(add);
    
    $("#results").append(summary);
    
    add.click(function() {
      add_email(email, add);
    })
  }
}
function add_email(email, add) {
  $.post("/groups/add-email", { group_id: {{ group.id }}, invited_by_id: {{ user.id }}, email: email }, function(data) {
    add.html("Invite sent");
  })
}
</script>

<div id="content">
	<div class="dark_nav_bar">
		<a href="/dashboard">Dashboard</a> > <a href="/groups/{{ group.id }}">{{ group.name }}</a> > Invite
	</div>
	<div class="nav_bar">
		Search by name or email
	</div>
	
	<div id="search_form">
	  <form name="find_friends" id="find_friends">
	    <input class="msg_form_field" type="text" name="friend" id="friend" />
	    <a class="medium red awesome chat_profile_btn" id="search-friends">Search</a>
	  </form>
	</div>
	
	<div id="results"></div>		
		
</div>

{% endblock %}