{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  $("#update_user").submit(update_user)
  $("#signup").click(update_user)
})
function update_user() {
  params = {
    fname: $("#fname").val(),
    lname: $("#lname").val(),
    email: "{{ user.username }}",
    password: $("#password1").val()
  };
  $.post("/users/update", params, function(data) {
    var res = $.parseJSON(data);
    if(res.success) window.location = "/dashboard";
    else alert(res.error);
  })
  return false;
}
</script>

<link href="/static/stylized.css" media="screen" rel="stylesheet" type="text/css" />

<div id="content">

	<div id="blue_form">
		<div id="stylized">
		<form id="update_user" name="update_user">
	
		<p>Fill out some quick details so you can login again</p>
	
		<div class="form_row">
			<label>First Name
			<span class="small">Add your name</span>
			</label>
			<input type="text" name="fname" id="fname" />
		</div>
	
		<div class="form_row">
			<label>Last Name
			<span class="small">Add your name</span>
			</label>
			<input type="text" name="lname" id="lname" />
		</div>

		<div class="form_row">
			<label>Email
			<span class="small">Your email address</span>
			</label>
			<input type="text" name="email" id="email" value="{{ user.username }}" disabled="disabled" />
		</div>

		<div class="form_row">
			<label>Password
			<span class="small">Min. size 6 chars</span>
			</label>
			<input type="password" name="password" id="password1" />
		</div>
	
		<div class="form_row">
			<label>Confirm
			<span class="small">Min. size 6 chars</span>
			</label>
			<input type="password" name="password" id="password2" />
		</div>
	
		<div class="form_row_for_btn">
			<a class="large red awesome" id="signup">Confirm Sign-up</a>
		</div>

		<!-- <button type="submit">Sign-up</button> -->
		<div class="spacer"></div>

		</form>
		</div>
		
		<br><br>
	</div>
	

</div>

{% endblock %}