<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/underscore.js"></script>

  <link href="/static/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/static/page.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/static/chat.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/static/awesome_btn.css" media="screen" rel="stylesheet" type="text/css" />

  <title>Locreep</title>
	
</head>

<body>

<div id="whole_page">
  
  <div id="header">
    {% if header != 'large' %}<a href="/"><img src="/static/small_logo.jpg" /></a>{% endif %}
    
    {% if user.is_authenticated %}
    <div id="user">
      {{ user.first_name }} {{ user.last_name }}
      <a href="/logout">logout</a>
    </div>
    {% endif %}
  </div>
	
	{% block content %}{% endblock %}
	
	<div id="footer">a hackNY hack | oct 2011</div>
</div>

</body>
</html>