<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
	<title>Locreep</title>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.colors.js"></script>
	<script type="text/javascript" src="/static/js/underscore.js"></script>
	<script type="text/javascript" src="/static/js/application.js"></script>

  <link href="/static/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/page.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/chat.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/awesome_btn.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/css/stylized.css" media="screen" rel="stylesheet" type="text/css" />
	
</head>

<body>

<div id="whole_page">
  
  <div id="header">

    {% if header != 'large' %}<a href="/"><img src="/static/images/small_logo.jpg" /></a>{% endif %}
    
    <!--<div id="header_menu">
      {% if user.is_authenticated %}
      <a href="/dashboard">{{ user.get_full_name }}</a> | <a href="/logout">Sign out</a>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
    </div>-->
    
  </div>
	
	{% block content %}{% endblock %}
	
	<!--<div id="footer">
		<a href="/video">Video</a> | <a href="/how-to">How To</a> | <a href="/terms">Terms</a> | <a href="/press">Press</a> | <a href="/contact">Contact</a>
	</div>-->
</div>

</body>
</html>
