{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  $("#save_group").submit(save_group);
  $("#save_group_btn").click(save_group);
})
function save_group() {
  var params = {
    name: $("#name").val(),
    phone: $("#phone").val()
  }
  $.post("/groups/save", params, function(data) {
    var res = $.parseJSON(data);
    if(res.success) window.location = "/groups/" + res.data.group_id;
    else alert(res.error);
  })
  return false;
}
</script>

<div id="content">
	<div class="dark_nav_bar">
		<a href="/dashboard">Dashboard</a> > Create Group
	</div>
	
	<div id="blue_form">
		<div id="stylized">
			<form id="save_group" name="save_group">
			  
			  <input type="hidden" name="phone" id="phone" value="{{ phone }}" />
			  
				<div class="form_row">
					<label>Name</label>
					<input type="text" name="name" id="name" />
				</div>

				<div class="form_row">
					<label>Photo</label>
					<input type="file" name="profile_pic" id="profile_pic" />
				</div>
	
				<div class="form_row_for_btn">
					<a class="large red awesome" id="save_group_btn">Create Group</a>
				</div>

				<!-- <button type="submit">Sign-up</button> -->
				<div class="spacer"></div>
				<br><br>
			</form>
		</div>
	</div>
		
</div>

{% endblock %}