{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  $(".submenu_group").hide();
  $(".nav_minus").html("+");
  $("#groups_wrap .nav_bar, #badges_wrap .nav_bar").toggle(
  function() {
    $(this).find(".nav_minus").html("-");
    $(this).siblings(".submenu_group").slideDown();
  },
  function() {
    $(this).find(".nav_minus").html("+");
    $(this).siblings(".submenu_group").slideUp();
  })
})
</script>

<div id="content">
	<div class="dark_nav_bar">
		My Account
	</div>
	
	<div id="groups_wrap">
  	<div class="nav_bar">
  		Groups ({{ groups.count }})
  		<span class="nav_minus">−</span>
  	</div>
  	
  	<div class="submenu_group">
    	{% for g in groups %}
    	<div class ="submenu_bar">
    		<a href="/groups/{{ g.id }}">{{ g.name }}</a>
    		<span class="nav_dark_arrow">></span>
    	</div>
    	{% endfor %}
  	</div>
  	
	</div>
	
	<div class="nav_bar">
		<a href="/groups/create">New Group</a>
		<span class="nav_white_arrow">></span>
	</div>
	
	<!-- wrap one nav bar and its submenu inside another unique named div for js to pick up -->
	<div id="badges_wrap">
		<div class="nav_bar">
			Badges (4)
			<span class="nav_minus">−</span>
		</div>
		
		<div class="submenu_group">
		  <div class ="submenu_bar">
    		<img src="/static/images/badges/mormon.png" width="32">
        <p class="name">The Polygamist</p>
  			<p class="info">Obtained: Oct 31, 2011</p>
    	</div>
		</div>
	</div>
		
</div>

{% endblock %}