{% extends "base.html" %}

{% block content %}

<div class="blank" id="down">
  
  <h1>LoCreep is down until further notice</h1>
  
  <p>As you may or may not be aware, LoCreep all began at HackNY's Fall
  24-Hour Hackathon. The initial product was built in one night and then
  polished briefly for presentation at the New York Tech Meetup. After
  amazing feedback from our user base, LoCreep continued to receive
  attention and the team made plans to see if the fun little hack could
  become something bigger.</p>

  <p>It has been decided that a bit of a facelift is in order. For the next
  couple of months, LoCreep will go into stealth mode as we prepare
  Version 1.0 of what we believe will turn the dating game on its head.</p>

  <p>Unfortunately, the phone numbers we have given out will no longer be
  in service and the groups you have made will be lost. We thank you for
  your participation and patience and will notify you as soon as LoCreep
  is ready for prime time. In the mean time, you will just have to hold
  the creeps off by your own inner strength until we return.</p>

  <p>Sincerely,<br />
  The LoCreep Team</p>
  
</div>

{% endblock %}