{% extends "base.html" %}

{% block content %}

<style type="text/css">
  
  #creep-o-meter
  {
    width:306px;
    margin:0 auto;
    padding:20px;
    text-align:center;
  }
  #bkg 
  {
    position:relative;
    top:0px;
    left:0px;
    z-index:-1;
  }
  #needle 
  {
    position:absolute;
    top:83px;
    left:133px;
  }
</style>

<script type="text/javascript" src="/static/js/jQueryRotate.2.1.js"></script>
<script type="text/javascript">

  function rotatify(angle)
  {
    angle = parseInt(angle)*(90/100)-43
    $('#needle').rotate({animateTo:angle})
  };

  function getVal(position) {
    $("#msg").html('working');
    
    $.post("/locate", {'lat' : position.coords.latitude, 'long' : position.coords.longitude},
      function(data)
      {
        var obj = jQuery.parseJSON(data);
        if (data)
        {
          $("#msg").html(obj.msg);
          rotatify(obj.score)
          setTimeout('jitter();', 1010)
        }
        else
        {
          $("#msg").html('failure');
        }
        //for now, only one request/load, for demo purposes
        //window.setInterval('navigator.geolocation.getCurrentPosition(getVal);',2*60000);
      });
  }

  function jitter()
  {
    angle=$('#needle').get(0).Wilq32.PhotoEffect._angle;
    values=[0.1,0.1,0,0,-0.1,-0.1,0.2,-0.2];
    value=Math.floor(Math.random()*values.length);
    $('#needle').rotate({animateTo:angle+value,duration:100});
    setTimeout('jitterback(angle);', 130)   
  }
 
  function jitterback(angle)
  {
    $('#needle').rotate({animateTo:angle,duration:100});
    setTimeout('jitter();', 130)
  }

  $(document).ready(function() {
    // navigator.geolocation.getCurrentPosition(getVal,getVal,{timeout:10000});
    messages = {
      0: 'This zone is Creeper-free',
      1: 'Nothing a bad bitch can\'t handle',
      2: 'Get crunk at your own risk',
      3: 'Shit just got real',
      4: 'Bitches, we gotta get out of here'
    }
    
    var score = Math.floor(Math.random() * 5);
    
    $("#msg").html(messages[score]);
    rotatify(score * 20);
    setTimeout('jitter();', 1010)
  });

</script>

<div id="creep-o-meter">
  <div id="bkg>" style="position:relative">
    <img src="/static/js/counter/counter3.png"/>
    <div id="needle">
      <img src="/static/js/counter/needle2.png"/>
    </div>
  </div>

  <div>
    <h4 id="msg"></h4>
  </div>
</div>

{% endblock %}