{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  $("#kill").click(function() {
    var do_kill = confirm("Are you sure you would like to delete this group? This action cannot be undone.");
    if (do_kill) {
      $.post("/groups/{{ group.id }}/delete", function(data) {
        var res = $.parseJSON(data);
        if (res.success) window.location = "/dashboard";
        else alert(res.error);
      })
    }
  })
  
  $("#kill-self").click(function() {
    var do_kill = confirm("Are you sure you want to leave this group?");
    if (do_kill) {
      $.post("/groups/{{ group.id }}/users/{{ user.id }}/delete", function(data) {
        var res = $.parseJSON(data);
        if (res.success) window.location = "/dashboard";
        else alert(res.error);
      })
    }
  })
})
</script>

<div id="content">
	<div class="dark_nav_bar">
		<a href="/dashboard">Dashboard</a> > {{ group.name }}
	</div>
	
	<div class="summary">
		<div class="profile_pic">
			<img src="{{ group.photo }}" width="120">
		</div>
		<div class="details">
			<p class="name">{{ group.name }}</p>
			<p class="info">Created: Oct 6, 2011</p>
			<p class="info">{{ group.phone }}</p>
		</div>
	</div>
	
			
	<div class="nav_bar">
		<a href="/groups/{{ group.id }}/members">View Members ({{ member_count }})</a>
		<span class="nav_white_arrow">></span>
	</div>
	<div class="nav_bar">
		<a href="/groups/{{ group.id }}/creeps">View Creeps ({{ group.creeps.count }})</a>
		<span class="nav_white_arrow">></span>
	</div>
	<div class="nav_bar">
		<a href="/groups/{{ group.id }}/add-friends">Add Friends</a>
		<span class="nav_white_arrow">></span>
	</div>
	{% if is_leader %}
	<div class="nav_bar kill" id="kill">
	  <a href="javascript:void(0)" class="no-link">Delete Group</a>
		<span class="nav_white_arrow">></span>
	</div>
	{% else %}
	<div class="nav_bar kill" id="kill-self">
	  <a href="javascript:void(0)" class="no-link">Leave Group</a>
		<span class="nav_white_arrow">></span>
	</div>
	{% endif %}
</div>

{% endblock %}