{% extends "base.html" %}

{% block content %}

<div id="content">
	<div class="dark_nav_bar">
		<a href="/dashboard">Dashboard</a> > {{ group.name }}
	</div>
	
	<div class="summary">
		<div class="profile_pic">
			<img src="{{ group.photo }}" width="120">
		</div>
		<div class="details">
			<p class="name">{{ group.name }}</p>
			<p class="info">Created: Oct 6, 2011</p>
			<p class="info">{{ group.phone }}</p>
		</div>
	</div>
	
			
	<div class="nav_bar">
		<a href="/groups/{{ group.id }}/members">View Members ({{ group.users.count }})</a>
		<span class="nav_white_arrow">></span>
	</div>
	<div class="nav_bar">
		<a href="/groups/{{ group.id }}/creeps">View Creeps ({{ group.creeps.count }})</a>
		<span class="nav_white_arrow">></span>
	</div>
	<div class="nav_bar">
		<a href="/groups/{{ group.id }}/add-friends">Add Friends</a>
		<span class="nav_white_arrow">></span>
	</div>
		
</div>

{% endblock %}