{% extends "base.html" %}

{% block content %}

<div class="blank">
  
  <h1>How to use</h1>

<ol>
    <li> Log into the site. From your dashboard, create a new group, or have a friend add you to one by clicking "Add Friends" from their group page.</li>
    <br />
    <li> Give out the group phone number to creeps instead of your real one.</li>
    <br />
    <li> Click "View Creeps" from the group page to see all the creeps your group has picked up. Click on a creep to see the conversation after they text the number. You can talk to them from this page, and post the chat to tumblr for a laugh. Print out to a QR code to slap on their back so everyone knows they're a creep: "Kick Me" for the modern age.</li>
    <br />
    <li> From the main page, you can look up a phone number to see if it's been tagged as belonging to a creep.</li>
    <br />
    <li> Pick up more creeps, earn badges.</li>
    <br />
    <li> ???</li>
    <br />
    <li> PROFIT</li>
</ol>

</div>
  

{% endblock %}