{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  $("#login_form").submit(login);
  $("#signin").click(login);
})
function login() {
  $.post("/auth", { email: $("#email").val(), password: $("#password").val() }, function(data) {
    var res = $.parseJSON(data);
    if(res.success) window.location = "/dashboard";
    else alert(res.error);
  })
  return false;
}
</script>

<div id="content">
	<div id="main_logo">
	   <img src="static/images/logo.jpg">
	</div>
	<div id="blue_form">
		<div id="stylized">
			<form id="login_form" name="login_form">

				<p>Sign in</p>
	
				<div class="form_row">
					<label>Email
					</label>
					<input type="text" name="email" id="email" />
				</div>

				<div class="form_row">
					<label>Password
					</label>
					<input type="password" name="password" id="password" />
				</div>
	
				<div class="form_row_for_btn">
					<a class="large red awesome" id="signin">Sign-in</a>
				</div>

				<!-- <button type="submit">Sign-up</button> -->
				<div class="spacer"></div>
				<br><br>
			</form>
		</div>
	</div>
</div>

{% endblock %}