{% extends "base.html" %}

{% block content %}

<div class="blank">
  
  <h1>Press</h1>
  
  <p>11/11/2011 - The CW 33<br /><a href="http://www.the33tv.com/videobeta/?watchId=42935f40-17a2-46ed-b61e-9c5d71a0f74b">Locreep - App of the Week</a></p>
  
  <p>11/9/2011 - Right This Minute<br /><a href="http://www.rightthisminute.com/story/smart-phone-app-creeps-who-want-your-number">Smart Phone App Creeps who want your Number</a></p>
  
  <p>11/8/2011 - Xconomy<br /><a href="http://www.xconomy.com/new-york/2011/11/08/locreep-launches-with-laughs-at-ny-tech-meetup/">Locreep Launches with Laughs at NY Tech Meetup</a></p>
  
  <p>11/8/2011 - Laughing Squid<br /><a href="http://laughingsquid.com/locreep-a-lojack-app-for-anonymously-identifying-mocking-creeps/">Locreep a Lojack App for Anonymously Identifying Mocking Creeps</a></p>
  
  <p>11/8/2011 - BetaBeat<br /><a href="http://www.betabeat.com/2011/11/08/locreep-the-lojack-for-creeps-launches-out-of-a-the-hackny-hackathon-into-a-real-live-startup/">Locreep the Lojack for Creeps Launches out of a the hackNY Hackathon into a Real Live Startup</a></p>
  
  <p>Twitter<br /><a href="https://twitter.com/#!/search/locreep">https://twitter.com/#!/search/locreep</a></p>
  
</div>

{% endblock %}