{% extends "base.html" %}

{% block content %}

{% if is_leader %}
<script type="text/javascript">
$(function() {
  $(".kill-member").click(function() {
    var do_kill = confirm("Are you sure you want to remove this user from the group?");
    if (do_kill) {
      var summary = $(this).parents(".summary");
      var user_id = summary.attr("id").substring(5);
      $.post("/groups/{{ group.id }}/users/" + user_id + "/delete", function(data) {
        var res = $.parseJSON(data);
        if (res.success) summary.remove();
        else alert(res.error);
      })
    }
  })
})
</script>
{% endif %}

<div id="content">
	<div class="dark_nav_bar">
		<a href="/dashboard">Dashboard</a> > <a href="/groups/{{ group.id }}">{{ group.name }}</a> > Members
	</div>
	<div class="nav_bar">
		Members
	</div>
	
	{% for u in group.members.all %}
  {% if u.password %}
  <div class="summary" id="user-{{ u.id }}">
		<div class="profile_pic">
			<img src="{{ u.userprofile.photo }}" width="120">
		</div>
		<div class="details">					
			<p class="name">{{ u.first_name }} {{ u.last_name }}</p>
			<p class="info">Member since: {{ u.date_joined|date:"M d, Y" }}</p>					
		</div>
		{% if is_leader and u != user %}
		<div class="kill-member">X</div>
		{% endif %}
	</div>
  {% endif %}
  {% endfor %}
  
  <div class="nav_bar">
		<a href="/groups/{{ group.id }}/add-friends">Add Friends</a>
		<span class="nav_white_arrow">></span>
	</div>
  
</div>

{% endblock %}