{% extends "base.html" %}

{% block content %}

<script src="/static/js/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect('{{ chat_url }}');
socket.emit('group.init', { group_id: {{ group.id }} })
socket.on('message', function(data) {
  var params = {
    conversation_id: data.conversation_id,
    creep_phone: data.creep_phone,
    body: data.body
  }
  
  $("#no-creeps").remove();
  if ($("#conversation-" + data.conversation_id).length == 0) new_conversation(params);
  else new_message(params);
})
function new_conversation(params) {
  var summary = $('<div class="summary" id="conversation-' + params.conversation_id + '"><a href="/conversations/' + params.conversation_id + '"></a><div class="profile_pic"><img src="/static/images/creeps/anonymous.jpg" width="120"></div><div class="details"><p class="name">Name Unknown</p><p class="info">' + params.creep_phone + '</p><p class="info">Make a note</p><p class="info">Creeping since: Just now</p></div></div>');
  
  $("#conversations").append(summary);
  
  summary.css("cursor","pointer");
  summary.click(function() {
    window.location = "/conversations/" + params.conversation_id;
  })
  
  new_message(params);
}
function new_message(params) {
  var summary = $("#conversation-" + params.conversation_id);
  summary.css("background-color","#fff");
  summary.animate({
    'background-color': '#d3ffc2'
  }, 'slow')
}
</script>

<div id="content">
	<div class="dark_nav_bar">
    <a href="/dashboard">Dashboard</a> > <a href="/groups/{{ group.id }}">{{ group.name }}</a> > Creeps
	</div>
	<div class="nav_bar">
    {{ group.name }}'s Creeps
	</div>
	
	<div id="conversations">
  	{% for c in conversations %}
  	<div class="summary" id="conversation-{{ c.id }}">
  	  <a href="/conversations/{{ c.id }}"></a>
  		<div class="profile_pic">
  			<img src="{{ c.creep.photo }}" width="120">
  		</div>
  		<div class="details">
  			<p class="name">Name Unknown</p>
  			<p class="info">{{ c.creep.phone }}</p>
  			<p class="info">{{ c.notes }}</p>
  			<p class="info">Creeping since: {{ c.creep.date_created|date:"M d, Y" }}</p>
  		</div>
  	</div>
  	{% empty %}
    <div id="no-creeps">You haven't been contacted by any creeps yet :(</div>
    {% endfor %}
  </div>
  
</div>

{% endblock %}