{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
$(function() {
  $("#register").submit(register)
  $("#signup").click(register)
})
function register() {
  params = {
    fname: $("#fname").val(),
    lname: $("#lname").val(),
    email: $("#email").val(),
    password: $("#password1").val()
  };
  $.post("/register", params, function(data) {
    var res = $.parseJSON(data);
    if(res.success) window.location = "/dashboard";
    else alert(res.error);
  })
  return false;
}
</script>

<div id="content">
	<div id="main_logo">
	   <img src="static/images/logo.jpg">
	</div>
	<div id="blue_form">
		<div id="stylized">
			<form id="form" name="form" method="post" action="index.html">

				<p>Welcome to LoCreep!</p>
	
				<div class="form_row">
					<label>First Name
					</label>
					<input type="text" name="fname" id="fname" />
				</div>
	
				<div class="form_row">
					<label>Last Name
					</label>
					<input type="text" name="lname" id="lname" />
				</div>

				<div class="form_row">
					<label>Email
					</label>
					<input type="text" name="email" id="email" />
				</div>

				<div class="form_row">
					<label>Password
					</label>
					<input type="password" name="password1" id="password1" />
				</div>
	
				<div class="form_row">
					<label>Confirm
					</label>
					<input type="password" name="password2" id="password2" />
				</div>
	
				<div class="form_row_for_btn">
					<a class="large red awesome" id="signup">Sign-up</a>
				</div>

				<!-- <button type="submit">Sign-up</button> -->
				<div class="spacer"></div>

			</form>
		</div>
	</div>
	<div id="blue_form">
		<div id="stylized">
			<form id="form" name="form" method="post" action="index.html">

				<p>Already have an account?</p>
	
				<div class="form_row_for_btn">
					<a class="large red awesome" href="/login">Sign-in</a>
				</div>

				<!-- <button type="submit">Sign-up</button> -->
				<div class="spacer"></div>
				
				<br><br>
			</form>
		</div>
	</div>
</div>

{% endblock %}